#header {
    display: flex;
    height: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
    margin: 10px ;
    border:solid;
    border-radius: 5px;
    border-color: rgb(0, 47, 255);
    padding: 30px;
    color: white;
    background-color: rgb(165, 127, 255);
    outline: 5px darkblue solid;
    font-weight: bold;
   
    
}


.buttons{
    
    display: flex;
    flex-direction: row;
    font-size: 20px;
    background-color: blue;
    
    
}

.allBttn {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: black;
    border: 2px solid;
    border-radius: 100px;
    padding: 20px;
    margin: 10px;

}

#headline {

    display: inline-block;
    flex:1;
    display: flex;
    justify-content: center;
}





#main{
display: flex;
flex-direction: column;
align-items: center;
height: 800px;
background-color: rgb(83, 83, 240);
}

#points{
    display: felx;
    background-color: aliceblue;
    width: 1000px;
    height: 50px;
}

#question{
    display: flex;
    align-items: center;
    height: 300px;
    background-color: rgb(83, 83, 240);
    justify-content: center;
}

#question-box{
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 200px;
    border: solid;
    border-radius: 20px;
}

#answers{
    display: flex;
    flex-direction: column;
    height: 500px;
    background-color: rgb(124, 124, 236);
}

.answers-buttons{
    width: 400px;
    height: 150px;
    font-size: 25px;
    margin: 20px;
    border-radius: 20px;

}

.answers-buttons:hover{
    background-color: rgb(100, 97, 255);
    transition-duration: 0.2s;
}

#answer3{
    flex: 1;
}

#answer4{
    align-self: center;
}




